h1{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(140, 140, 140);
}
head{
    background-color: rgb(8, 78, 9);
}
body{
    background-color: rgb(71, 65, 50);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.mingin{
    background-color: rgb(97, 58, 34);
    border: black;
    border-radius : 10px;
    padding: 5px;
    color : rgb(255, 255, 255);
}
.pickaxe {
   background-color: rgb(97, 58, 34);
   border: black;
   border-radius : 10px;
   padding: 5px;
   color : rgb(255, 255, 255);
}

button:hover {
   cursor: pointer;
   transform: scale(1.2);
}
.mining:hover{
    cursor: crosshair;
}

.miner {
  background-color: rgb(97, 58, 34);
  border: black;
  border-radius : 10px;
  padding: 5px;
  color : rgb(255, 255, 255);
}

.shop{
    column-count:2;
    column-gap:800px
}
.clicker{
    text-align: center;
    
}
